.titulo-principal{
  font: italic 40px bold serif;
  color: #3399FF;
  text-align: center;
  text-shadow: 2px 2px white;
} 

.imagen{
  padding: 10px;
  padding-left: 15px;
  float: left;
  height: 250px;
}

.contenido{
    font-size: 30px;
    font-family: "Arial";
    border-width: thick;	
    border-style: none;	
    padding: 2px;
    max-width: 1012px;
    text-align: justify;
    margin:auto;
}

.todo{
	border-radius: 20px;
	border-style: solid;
	background-color:  #FF9966;
	padding: 15px;
	max-width: 950px;
	margin:auto;
       display:block;	 
       overflow: hidden;
}

span{
  text-shadow: 3px 3px red;
  font-size: 80px;
  font-family: serif;
  background-color: #00BFFF;
}

em{
  background-color: #F7FE2E;
}

body{
    background-image:  url("../imagenes/fondo.jpg");
}

p{
  color: #003366;
}

.siguientes{
  padding-left: 500px;
   width: 15%;
}

 .siguientes ul {
   list-style-type: none;
   padding-left: 0px;
 }
 .siguientes ul li {
   padding-left: 10px;
   margin-top: 10px;
   background-color: 	#FFCC99;
 }