 .titulo-principal{
  font-family: Georgia, "Times New Roman", serif;
  color: 	#FFCC00;
  text-align: center;
  text-shadow: 2px 2px 	 #336699;
}

body{
    background-image:  url("../imagenes/fondo.jpg");
}

span{
  text-shadow: 3px 3px red;
  font-size: 80px;
  font-family: serif;
  background-color: #00BFFF;
}

.derecha{
  text-align: right;
}

.siguientes{
  padding-left: 500px;
   width: 15%;
}

 .siguientes ul {
   list-style-type: none;
   padding-left: 0px;
 }
 .siguientes ul li {
   padding-left: 10px;
   margin-top: 10px;
   background-color: 	#FFCC99;
 }
 
 .imagendos{
  display: block;
  margin: auto;
  text-align: center;
}

.imagen{
  padding: 10px;
  padding-left: 15px;
  float: left;
  height: 250px;
}

.contenido{
    font-size: 30px;
    font-family: "Arial";
    border-width: thick;	
    border-style: none;	
    padding: 2px;
    max-width: 1012px;
    text-align: justify;
    margin:auto;
}

.todo{
	border-radius: 20px;
	border-style: solid;
	background-color:  #FF9966;
	padding: 15px;
	max-width: 950px;
	margin:auto;
  display:block;	 
  overflow: hidden;
}

.cuento{
  font-size: 20px;
  border-radius: 20px;
	border-style: solid;
	background-image:  url("../imagenes/fondoCuento.jpg");
	padding: 15px;
	max-width: 950px;
	margin:auto;
  display:block;	 
  overflow: hidden;
  margin-bottom: 50px;
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
}

em{
  background-color: 	#3399FF;
}

.galeria{
  text-align: center;
}

.centro{
  text-align: center;
}

h2, h3{
  color: dodgerblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
  text-align: center;
  border-color:red;
  border-style: dashed;
  text-shadow: 2px 2px black;
}

dt{
  font-style: italic;
  color: crimson;
  text-anchor: middle;
}

dd{
  background-color: #FFCC00;
  font-family: cursive;
}

#disqus_thread{
  background-image:  url("../imagenes/fondocomen.jpg");
}
