.titulo-principal {
   font-style: "Times New Roman";
   color:   #771100;
   text-align: center;
   text-shadow: 2px 2px #FF9900;
   background-color:   #999999;
   border-radius: 3px;
 }
 
 .lista {
   width: 20%;
 }
 
 .lista ul{
   list-style-type: none;
   padding-left: 0px;
}

.lista ul li{
   padding-left: 10px;
   margin-top: 10px;
   background-color:  #FF9900;
   border-radius: 5px;
}

.imagen{
  width: 1010px;
  height: 400px;
  display: block;
  margin: auto;
  border-color: black;
  border-style: solid;
  float: right;
}

body{
    background-image:  url("../imagenes/fondo.jpg");
}

.pie {
  margin-top: 250px;
   background-color: black;
 }
 .pie p {
   text-align: center;
   color: #F8F8F2;
 }